
.tecnologias-content{
    position:relative;
}
.tec1{
    width: 50vh;
    height: 50vh;
    float: left;
}.tecnologias-content{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: var(--gap);
    min-height: 100vh;
    animation: fade-left 2s linear ;
}
.css{
    background-image: url('../img/CSS3_logo_and_wordmark.svg');
    height: 100%;
    width: 100%;
    background-size: cover;
}
.html{
    background-image: url('../img/html-5-logo-svgrepo-com.svg');
    height: 100%;
    width: 100%;
    background-size: cover;
}
.javascript{
    background-image: url('../img/logo-javascript.svg');
    height: 100%;
    width: 100%;
    background-size: cover;
}

.img-tec{
    height: 50%;
    width: 50%;
    position: absolute;
    top: 5%;
    left: 25%;
}
.adjust-img-tec{
    transition: all 1s;
    border: 0.1rem solid rgba(0,0,0,0.75);
    
}
.adjust-img-tec:hover{
    top:-20px;
    left:-20px;
    box-shadow: 20px 20px 6px rgba(0,0,0,0.75);
}
