
.img-adjust-technologies{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;
    
}
.html{
    height: 140%;
    background-image: url(../img/html5-logo.svg);
}
.css{
    height: 140%;
    background-image: url(../img/CSS3_logo.svg);
}
.sql{
    width: 105%;
    background-image: url(../img/MySQL-logo.svg);
}
.js{
    height: 115%;
    background-image: url(../img/JS-logo.svg);
}
.node{
    width: 190%;
    background-image: url(../img/../img/mpdejs_logo.svg);
}